# PyInstaller build output
build/
*.spec

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
.venv/
ENV/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Temporary files
*.tmp
*.temp

#other
parche-es-formless-star.exe
parche-es-formless-star-1-x-y.7z